main{
    z-index: 1; 
    position: absolute; 
    top: 0px; 
    left: 0px
}
th{
    padding: 10px 20px;
    border: 3px solid rgb(255, 143, 16);
    text-align: center;
    background-color: rgb(206, 255, 28);
}
td{
    padding: 10px 20px;
    border: 3px solid rgb(255, 143, 16);
    text-align: center;
    background-color: rgb(98, 197, 214);
}

#notification{
    width: 320px;
    padding: 5px;
    margin: -5px;
    text-align: center;
    background-color: rgb(247, 234, 120);
    border:2px solid red;
    border-radius: 15px;
    z-index: 2; 
    position: absolute; 
    top: 30px; 
    left: 450px;
}
#placeholder{
    border:3px solid rgb(189, 101, 0);
}