* {
    font-family: "Arbutus Slab", serif !important;
}

*::selection {
    background: #262626;
    color: #fff;
}
html{
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.contact-section{
    flex: 1 1 auto;
 }
 footer {
        height: 150px;
        margin-top: -40px;
        background-color: rgba(126, 67, 1, 0.712);
}
.container{
    display:flex;
    justify-content:space-evenly;
    margin: 10px;
}
.logo{
    width: 40px;
    height: 40px;
    text-align: center;
    margin: -5px 0px 0px 0px;
}

input, textarea {box-shadow: none !important;}
input:focus, textarea:focus {border-bottom: 1px solid #1a634e !important;}

/*                                            header */
header {
    background: transparent;
    background-color: rgb(182, 97, 1);
    display: flex;
    position: fixed;
   flex: 0 0 auto;
    width: 100%;
    z-index: 100;
}

header nav {
    width: 100%;
    background: rgba(255, 255, 255, 0.8);
}

header li a {
    color: #39393a;
    font-size: 18px;
}

.site-logo {
    font-size: 1rem;
    animation: float 6s infinite;
}

.site-logo > a {
    font-size: 24px;
}

.active {
    color: #63251a !important;
}

.navbar-toggler {
    box-shadow: none !important;
}
/*                                             skills              */
.skills{
    display: flex;
    margin: 50px 20px 20px 20px;
    padding: 10px 0px 0px 0px;
    background-color: rgb(212, 212, 212);
    border-radius: 15px;
    text-align:left;
    color: black;
   background-color: rgba(182, 98, 1, 0.164);
}
.Mysk1{
    width: 200px;
    height: 50px;
    font-size: 2.5em;
    margin: 10px 0px -70px 0px;
}
.Mysk{
    background-color: beige;
    width: 200px;
    height: 50px;
    font-size: 2em;
    margin: 10px 0px -70px 0px;
}
.icon{
    width: 70px;
    height: 70px;
    margin: 15px;
}
.icon:hover {
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgb(255, 238, 0);
   
} 

/*                                         about         */
#aboutMe{
    margin: 70px 0px 0px 0px;

}
img{
    border-radius: 20px;
}
.doun{
    background-color: #b98800a9;
    border-radius: 15px;
    color: white;
    margin: 5px;
}
/*                                      My portfolio        */
.project * {
    text-decoration: none;
    transition: 0.3s;
}

.project {
    border: 1px solid #fff;
    box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.2);
    background-image: url(https://media.istockphoto.com/vectors/abstract-white-square-shape-with-futuristic-concept-background-space-vector-id1236824686?k=20&m=1236824686&s=612x612&w=0&h=r1Ga0VFxPSUX01_uU2RhGxEzvfzgT8KMPPPrV7yNcdE=);
    transition: 0.3s;
    padding: 5px 5px 5px 5px;
    margin: 0px 0px 20px 0px;
    position: relative;
    text-align: center;

}

.project:hover {
    border: 1px solid #f4f4f4;
    box-shadow: 0 8px 50px -5px rgba(0, 0, 0, 0.2);
}

.project:hover * {
    opacity: 100%;
}

.project-img-box {
    height: 250px;
    min-height: 250px;
    max-height: 250px;
}

.project-img-box img {
    max-height: 250px;
}

.project-name {
    color: #000;
    opacity: 80%;
    font-size: 18px;
    padding: 10px 5px 0 5px;
}

.project-languages {
    color: #fff;
    text-align: center;
}
.language-icon {
    background: #585858;
    border-radius: 20px;
    font-size: 12px;
    padding: 2px 8px;
    opacity: 70%;

}
/*                                        max width */
@media (max-width: 1024px) {
    .navbar li * {
        color: #000;
    }
    .navbar-menu {
        text-align: center;
    }
    .skills{
        margin: 50px 20px 20px 20px;
        background-color: rgba(182, 98, 1, 0.164);
        border-radius: 15px;
    }
    .black_about{
        width: 75px;
        padding: 0px 0px 0px 5px;
        margin: 10px 0px 0px 0px;
        background-color: rgb(114, 113, 113);
        color: rgb(255, 251, 0);
        font-size: 1.1em;
    }
    .Aboutme{
        max-width: 700px;
        max-height: 600px;
        background-color: rgb(212, 212, 212);
        padding: 10px 0px 6px 0px ;
        margin: 0px 0px 0px 0px;
        font-size: 0.7em;
    }
    .img-fluid{
        width: 400px;
        height: 400px;
    }
}
/*                               contact        */
.logotip{
    padding: 7px;
    width: 50px;
    height: 50px;
}
.container1{
    display: flex;
    justify-content: space-between;
    margin: 10px;
    font-size: 1em;
    color: azure;
    padding: 0px;
}
.contacs{
    color: white;
}
h4{
    width: 120px;
    height: 40px;
    margin: 20px;
}
.contr{
    margin: -70px 0px 0px 20px;
}
@media (width: 768px) {
}
/*                                    max-width: 768px */
@media (max-width: 768px) {
    .navbar li * {
        color: #000;
    }
    .navbar-menu {
        text-align: center;
    }
    .Aboutme{
        display: flex;
        flex-direction:row;
    }
    .my{
        justify-content: center;
        display: flex;
    }
}
@media (max-width: 452px){
    footer{
        height: 175px;
    }
    .logotip{
        width: 40px;
        height: 40px;
        margin: 0px;
    }
}
@media (max-width: 320px){
    .black_about{
        width: 85px;
        padding: 0px 0px 0px 5px;
        background-color: rgb(114, 113, 113);
        color: rgb(255, 251, 0);
        font-size: 0.5em;
    }
}
@keyframes float {
    0% {transform: translateX(0px);}
    25% {transform: translateX(-10px);}
    50% {transform: translateX(0px);}
    75% {transform: translateX(10px);}
    100% {transform: translateX(0px);}
}
