h1 {
    padding: 25px 0px 0px 70px;
}
.box {
    position: relative;
    background-color: rgb(216, 216, 216);
    padding: 25px;
    margin: 0px 100px 0px 100px;
}
div{
    border-left:2px solid red;
    border-right:2px solid red;
  }
  
  .box::before{
    position:absolute;
    display:block;
    width:104%;
    height:2px;
    top:0;
    left:0;
    content:'';
    background-color: red;
  }
  .box::after{
    display:block;
    position:absolute;
    width:104%;
    height:2px;
    bottom:0;
    right:0;
    content:'';
    background-color: red;
  }
