body {
    max-width: 2200px;
    font-family: Arial;
    font-size: 4em;
    text-align: center;
    background-position: center;

}
h1 {
    background-color: red;
    color: white;
    padding: 1px;
    
}
span {
    display: inline-block;
    transform: translate(0em, 0.25em)
}