body{
    text-align: center;
    background-color: #444;
}
img{
    max-width: 200px;
    max-height: 200px;
}
h1{
    background-color: #139688;
    color: white;
    font-size: 30px;
    padding: 5px;
}
.form__group{
    margin: 20px;
    text-align: left;
    color: white;
}
.form__group input[type="text"] {
    width: 87%;
    color: #03927e;
    font-size: 20px;
    background-color: var(--bg-color);
    border-style: none;
	outline: 0px;
    border-bottom: 2px solid rgb(255, 255, 255);
    padding: 10px 0 5px 0;
}
.btn {
    border-radius: 13px;
    border: 0;
    padding: 10px 10px;
}
