.weather__city {
    background-color: #1887d3;
    color: white;
    text-align: center;
    height: 30px;
    padding: 10px;
    font-size: 25px;
}
.container {
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #e2e2e2;
}
.contr {
    min-height: 300px;
    min-width: 230px;
    text-align: center;
    font-size: 25px;
    margin: 10px;
}
.contr:hover {
    box-shadow: 5px 5px 5px 0px red;
}
.weather__desc {
    padding: 5px;
}
hr {
    border: none; /* Убираем границу */
    background-color: red; /* Цвет линии */
    color: red; /* Цвет линии для IE6-7 */
    height: 2px; /* Толщина линии */
}
